.card {
  position: relative;
  padding: 0 4px;
  transition: all 0.15s linear;
  border-radius: 8px;
  height: 100%;

  &:hover {
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);

    .badge {
      left: -6px;
    }
  }
}

.productImage {
  position: relative;
  padding-top: 100%;
}

.productImage img {
  border-radius: var(--space0_8);
  margin-bottom: var(--space0_2);
  background-color: #ebe6e6;
}

.cardFooter {
  padding: var(--space0_8);
}

.brand {
  color: #5a6573;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: var(--space0_2);
  cursor: pointer;
}

.title {
  color: #1a2b3d;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: var(--space0_8);
  cursor: pointer;
}

.outOfStock {
  font-size: 12px;
  color: #5a6573;
}

.prices {
  display: flex;
  align-items: center;
}

.price {
  color: #1882ff;
  font-size: 20px;
  line-height: 22px;
}

.originalPrice {
  color: #77818c;
  font-size: 14px;
  margin-left: var(--space0_8);
  text-decoration-line: line-through;
}

.favourite {
  width: max-content;
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 2;
  cursor: pointer;
}

.favourite svg {
  width: 24px;
}

.favourite.fill svg {
  font-size: 24px;
}

.favourite.fill svg path {
  fill: #ff0000;
}

.badge {
  position: absolute;
  width: 32%;
  height: 12%;
  top: 12px;
  left: -1px;
  z-index: 1;
  background-image: url(/discount-badge.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 8px;
  padding-right: 22px;
  transition: all 0.15s linear;
}

.badge span {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.buttons {
  padding: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

.buttons button {
  &:first-child {
    margin-bottom: var(--space0_8);
  }
}

.withButton {
  &::after {
    content: "";
    border-radius: 6px 6px 4px 4px;
    opacity: 0.33;
    background: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }
}

@media (min-width: 992px) {
  .badge {
    width: 42%;
  }
}
