.button {
  width: 100%;
  padding: var(--space0_6) var(--space1_6) var(--space0_6) var(--space1_2);
  border-radius: 6px;
  border: 1.5px solid var(--white-30);
  background: var(--white-30);
  backdrop-filter: blur(4px);
  color: var(--color-white);
  cursor: pointer;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content span {
  font-size: var(--fs-14);
  line-height: 18px;
  margin-left: var(--space0_4);
}

.content svg {
  width: 14px;
  height: 14px;
}

.productInCart {
  background: var(--color-green);

  .content {
    justify-content: space-between;
  }

  .content span {
    margin-right: var(--space0_4);
  }
}

.increaseCart {
  display: flex;
  align-items: center;
}
