.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--space1_2) var(--space0_8);
  width: 100%;
}

.error {
  color: var(--color-red);
  background-color: var( --error-bg);
  border: 1px solid var(--error-border);
  padding: var(--space1_0) var(--space1_6);
  border-radius: 5px;
  margin-top: var(--space2_0);
  width: 100%;
}

@media (min-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--space2_4) var(--space1_2);
  }
}

@media (min-width: 992px) {
  .wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: var(--space3_6) var(--space1_6);
  }
}

@media (min-width: 1200px) {
  .wrapper {
    grid-template-columns: repeat(5, 1fr);
  }
}
