.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 12px 8px;
  width: 100%;
}

.error {
  color: #d9534f;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  padding: 10px 15px;
  border-radius: 5px;
  margin-top: 20px;
  width: 100%;
}

@media (min-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px 12px;
  }
}

@media (min-width: 992px) {
  .wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 36px 16px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    grid-template-columns: repeat(5, 1fr);
  }
}
