.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space1_0) var(--space2_0);
  background-color: var(--color-white);
  border-bottom: 1px solid var(--divider-color);
  box-shadow: 0 2px 5px var(--black-10);
}

.brand {
  font-size: var(--fs-24);
  font-weight: bold;
  color: var(--color-dark-gray);
}

.menuItem {
  display: flex;
}

.iconWrapper {
  position: relative;
  font-size: var(--fs-24);
  color: var(--color-dark-gray);
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 700;
  margin-left: var(--space1_6);
}

.iconWrapper svg {
  width: 32px;
  height: 32px;
}

.iconWrapper svg path {
  fill: var(--foreground);
}

.iconWrapper span {
  color: var(--color-gray);
  font-size: var(--fs-14);
}

.iconWrapper.wishList span {
  margin-left: var(--space0_4);
}
